body {
  font-family: monospace;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.departure-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2em;
  width: 100%;
  margin-bottom: 0.5em;
}

.type,
.type-normal,
.type-rapid,
.type-limitedexpress,
.type-info {
  width: 10em;
  text-align: left;
}

.header-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
  width: 100%;
}

.departure-info div {
  margin: 0 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.time,
.platform {
  color: yellow;
}

.type-normal {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 0.2em;
}

.type-rapid {
  background-color: greenyellow;
  color: black;
  border: 1px solid white;
  padding: 0.2em;
}

.type-express {
  background-color: orange;
  color: black;
  border: 1px solid white;
  padding: 0.2em;
}

.type-limitedexpress {
  background-color: red;
  color: white;
  border: 1px solid white;
  padding: 0.2em;
}

.type-info {
  background-color: white;
  color: black;
  border: 1px solid white;
  padding: 0.2em;
}

.information {
  display: flex;
  justify-content: flex-start;
  font-size: 2em;
  width: 100%;
  margin-bottom: 0.5em;
}

/* 現在時刻表示 */
.clock {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#current-time {
  font-size: 1.6em;
  color: cyan;
  background: rgba(255, 255, 255, 0.03);
  padding: 0.2em 0.5em;
  border-radius: 4px;
}

/* 時刻表エディタ */
.timetable-editor {
  width: 90%;
  max-width: 800px;
  margin-top: 1em;
}

.timetable-editor label {
  display: block;
  margin-bottom: 0.25em;
}

.timetable-editor textarea {
  width: 100%;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 0.9em;
  padding: 0.5em;
  background: #111;
  color: #fff;
  border: 1px solid #333;
  border-radius: 4px;
}

.file-input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.file-input input[type="file"] {
  background: #222;
  color: #fff;
  border: 1px solid #333;
  padding: 0.25em 0.5em;
  border-radius: 4px;
}

.editor-actions {
  margin-top: 0.5em;
}

.editor-actions button {
  margin-right: 0.5em;
  padding: 0.4em 0.8em;
  background: #222;
  color: #fff;
  border: 1px solid #444;
  border-radius: 4px;
  cursor: pointer;
}

.editor-note {
  margin-top: 0.5em;
  font-size: 0.85em;
  color: #ccc;
}
