body {
  font-family: monospace;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.departure-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2em;
  width: 100%;
  margin-bottom: 0.5em;
}

.type,
.type-normal,
.type-rapid,
.type-limitedexpress {
  width: 10em;
  text-align: center;
}

.header-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
  width: 100%;
}

.departure-info div {
  margin: 0 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.time,
.platform {
  color: yellow;
}

.type-normal {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 0.2em;
}

.type-rapid {
  background-color: orange;
  color: black;
  border: 1px solid white;
  padding: 0.2em;
}

.type-limitedexpress {
  background-color: red;
  color: white;
  border: 1px solid white;
  padding: 0.2em;
}

.type-info {
  background-color: white;
  color: black;
  border: 1px solid white;
  padding: 0.2em;
}

.information {
  display: flex;
  justify-content: flex-start;
  font-size: 2em;
  width: 100%;
  margin-bottom: 0.5em;
}
